#uptime {
    color: black;
}

.login-header {
    font-size: 14px;
    font-weight: bold;
}

.login-text {
    text-align: center;
    font-size: 14px    
}

.topright {
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 18px;
}

.prompt-card {
    font-size: 10px;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: blue;
}

.card-icon {
     font-size: 18px;
     padding-right: 10px;
     color: black;
}

.bignum {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

.subtitle {
    font-size: 10px;
    text-align: center;
}

.field-label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: blue;
}

.dev-label {
    font-weight: bold;
    padding-right: 10px;
    color: blue;
}

.dev-note {
    text-align: center;
    font-size: 14px;
}

.icon-nav-menu {
    padding: 10px;
}

.icon-header-bar {
    padding-right: 10px;
}

.button-group {
    margin: 1px;
}

.bottom-toolbar {
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.show-clickable {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.error {
    color: #ff0000;
}

.running {
    color: #00dd00;
}

fieldset.chan-list  { 
  margin: 0; 
  padding: 0; 
  margin-bottom: 1.25em; 
  padding: .125em; 
} 

fieldset.chan-list legend { 
  margin: 0; 
  padding: 0; 
  font-weight: bold; 
  margin-left: 20px; 
  font-size: 100%; 
  color: black; 
} 

ul.chan-list  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
} 

ul.chan-list li input { 
  margin-right: .25em; 
} 

ul.chan-list li { 
  border: 1px transparent solid; 
  display:inline-block;
  width:10em;
} 

ul.chan-list li label { 
  margin-left: ; 
} 
ul.chan-list li:hover, 
ul.chan-list li.focus  { 
  background-color: lightblue; 
  border: 1px gray solid; 
  width: 10em; 
} 
