<ons-page id="datasource_details">
    <script>
    $(function() {
        if (typeof kmd_datasource_details !== 'object') {
            $.getScript('js/kmd-datasource-details.js');
        }
    });
    </script>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">
            <ons-icon icon="fa-cog" class="icon-header-bar"></ons-icon>Datasource Details
        </div>
        <div class="right">
            <ons-toolbar-button onclick="kmd.ui.menu.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-row>
        <ons-col>
            <ons-list>
                <ons-list-header>Info: <span id="dsd-uuid"></span></ons-list-header>
                <ons-list-item>
                    <div class="center">
                        Datasource name:
                    </div>
                    <div class="right" id="dsd-name"></div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        Interface:
                    </div>
                    <div class="right" id="dsd-interface"></div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        Driver type:
                    </div>
                    <div class="right" id="dsd-driver"></div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        Hardware:
                    </div>
                    <div class="right" id="dsd-hardware"></div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        Hop rate:
                    </div>
                    <div class="right" id="dsd-hoprate"></div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        Packets:
                    </div>
                    <div class="right" id="dsd-packets"></div>
                </ons-list-item>
                <ons-list-header>Status: <span id="dsd-state"></span></ons-list-header>
                <ons-list-item>
                    <div class="center">
                        Active:
                    </div>
                    <div class="right">
                        <ons-switch id="dsd-active" modifier="material"></ons-switch>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        Hopping:
                    </div>
                    <div class="right">
                        <ons-switch id="dsd-hopping" modifier="material"></ons-switch>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        <span id="dsd-channels-title">Channels:</span>
                    </div>
                    <div class="right" id="dsd-channels"></div>
                </ons-list-item>
                <ons-list-item id="dsd-chan-hopping">
                    <fieldset class="chan-list" hidden>
                        <ul class="chan-list" id="dsd-chan-list"></ul>
                    </fieldset>
                </ons-list-item>
                <ons-list-item id="dsd-chan-shuffle">
                    <div class="center">Shuffling:</div>
                    <div class="right" id="dsd-shuffle-set"></div>
                </ons-list-item>
                <ons-list-item id="dsd-chan-hoprate">
                    <div class="center">Hop rate:</div>
                    <div class="right" id="dsd-hoprate-set"></div>
                </ons-list-item>
            </ons-list>
        </ons-col>
    </ons-row>
    <ons-bottom-toolbar>
        <h2 class="card__title bottom-toolbar">KISMET Mobile Dashboard</h2>
    </ons-bottom-toolbar>
    <ons-fab id="button-pause" position="bottom left" modifier="mini" onclick="kmd.pauseResume()">
        <ons-icon icon="md-pause"></ons-icon>
    </ons-fab>
</ons-page>
