<ons-page id="devices_list">
    <script>
    $(function() {
        if (typeof kmd_devices_list !== 'object') {
            $.getScript('js/kmd-devices-list.js');
        }
    });
    </script>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">
            <ons-icon icon="fa-cog" class="icon-header-bar"></ons-icon><span id="dl-title"></span>
        </div>
        <div class="right">
            <ons-toolbar-button onclick="kmd.ui.menu.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list id="devices-list"></ons-list>
    <ons-bottom-toolbar>
        <h2 class="card__title bottom-toolbar">KISMET Mobile Dashboard</h2>
    </ons-bottom-toolbar>
    <ons-fab id="button-pause" position="bottom left" modifier="mini" onclick="kmd.pauseResume()">
        <ons-icon icon="md-pause"></ons-icon>
    </ons-fab>
</ons-page>
